.vielspass {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
  font-size: 70px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#miau1{
    top: 25%;
  left: 25%;
  }

#miau2{
  top: 25%;
  right: 25%;
  }


#miau3{
    bottom: 25%;
  left: 25%;
  }

#miau4{
    bottom: 25%;
  right: 25%;
  }

