.icon {

  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  stroke: #50E38E;
  margin: 50px auto;
  -webkit-animation: bounceIcon .17s ease-in-out;
  animation: bounceIcon .17s ease-in-out;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.circle {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  stroke-width: 9;
  stroke: #ECE8E8;
  fill: none;
  -webkit-animation: drawCircle .2s linear;
  animation: drawCircle .2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.check {
  stroke-width: 7;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  -webkit-animation: drawCheckmark .2s cubic-bezier(.89,.09,.91,.67);
  animation: drawCheckmark .2s cubic-bezier(.89,.09,.91,.67) forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;

}

@keyframes drawCircle {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheckmark {
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes bounceIcon {
  0% {
    transform: none;
  }
  50% {
    transform: scale3D(.9, .9, 1);
  }
  100% {
    transform: none;
  }
}


