@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
.vielspass {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  font-size: 70px; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#miau1 {
  top: 25%;
  left: 25%; }

#miau2 {
  top: 25%;
  right: 25%; }

#miau3 {
  bottom: 25%;
  left: 25%; }

#miau4 {
  bottom: 25%;
  right: 25%; }

#menuIcon {
  position: fixed;
  top: 20px;
  left: 15px; }

#menuIcon.hide {
  transform: translate3d(100vw, 0, 0); }

#menuIcon.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden; }

button {
  border: 0; }

.closeWindow {
  position: fixed;
  top: 20px;
  left: 15px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  max-width: 100%; }

.media {
  height: 0;
  paddingTop: '56.25%';
  margin: 0;
  paddingLeft: 0;
  paddingRight: 0; }
