@import "./globalstyles.scss";
@import "Components/AdminArea/AdminArea.scss";
@import "Components/MenuButton/MenuButton.scss";
@import 'Components/CloseButton/CloseButton.scss';
@import 'Components/Geocoder/Geocoder.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  max-width: 100%;
}

.media {
  height: 0;
  paddingTop: '56.25%'; // 16:9
  margin: 0;
  paddingLeft: 0;
  paddingRight: 0;
}

