@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


$font-stack: 'Open Sans', sans-serif;
$primary-background: rgba(255, 255, 255, 0.8);

$ping-pong-colour: red;
$soccer-colour: green;
$volleyball-colour: yellow;
$basketball-colour: #FF7551;
$font-color: #4a4a4a;

$font-size-X-large: 3.5rem;
$font-size-large: 2.25rem;
$font-size-medium: 1.75rem;

$menu-margin-x: 100px;
$menu-margin-y: 100px;

$icon-top: 20px;
$icon-left: 15px;
$icon-right: 10vw;
$icon-bottom: 10vw;

$left: 10vw;
$right: 10vw;

$filterIconContainerWidth: 285px;

$filterIconWidth: 75px;
$filterIconHeight: 75px;
