@import "../../globalstyles.scss";

#menuIcon {

  position: fixed;
  top: $icon-top;
  left: $icon-left;
}

#menuIcon.hide {
  transform: translate3d(100vw, 0, 0);
}

#menuIcon.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
