@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
#menuIcon {
  position: fixed;
  top: 20px;
  left: 15px; }

#menuIcon.hide {
  transform: translate3d(100vw, 0, 0); }

#menuIcon.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden; }
