@import "../../globalstyles.scss";

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}


.FilterIconContainer {

  display: flex;
  width: $filterIconContainerWidth;
  height: 75px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;

}

.FilterItem {

  display: block;
  background-color: transparent;
  border-style: none;
  width: 56px;
  height: 56px;
  margin: auto;
  width: $filterIconWidth;
  height: $filterIconHeight;

}
.FilterItem:focus {
  outline: none;
}


.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}


.FilterIconContainer {

  display: flex;
  width: $filterIconContainerWidth;
  height: 75px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;

}

.FilterItem {

  display: block;
  background-color: transparent;
  border-style: none;
  width: 56px;
  height: 56px;
  margin: auto;
  width: $filterIconWidth;
  height: $filterIconHeight;

}
.FilterItem:focus m{
  outline: none;
}

.imagePopup {

  width: 265px;
  height: 200px;
  //width: 75%;
  //height: 75%;
  padding:1px;
  position: center;

}

.reportButton {
  position: center;
  background-color: white;
  text-align: left;
  font-weight: lighter;
  padding-left: 0px;
  margin-bottom: 2px;
  color: #545454;
  margin-top: 5px;
}

.description {

  font-size: 22px;
  margin-bottom: 20px;
}

.address {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
}

.timestamp {

  position: center;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

.outerDiv {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
